section.slider
    ul.slider-home
      li
         a.image(href="/assets/img/work-1.png")
            img(src="/assets/img/work-1.png",alt='Работа 1')
         a.title(href="/") Работа 1
         ul.skills
           li html
           li css
           li javascript
      li
         a.image(href="/assets/img/work-2.png")
            img(src="/assets/img/work-2.png",alt='Работа 2')
         a.title(href="/") Работа 2
         ul.skills
           li html
           li css
           li javascript
      li
         a.image(href="/assets/img/work-3.png")
            img(src="/assets/img/work-3.png",alt='Работа 3')
         a.title(href="/") Работа 3
         ul.skills
           li html
           li css
           li javascript
      li
         a.image(href="/assets/img/work-4.png")
            img(src="/assets/img/work-4.png",alt='Работа 4')
         a.title(href="/") Работа 4
         ul.skills
           li html
           li css
           li javascript
